.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 20px;
}

.loading {
  margin: 30px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  color: rgb(116, 116, 109);
}

.inputsBlock {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}

.select {
  width: 140px;
  height: 40px;
  margin: 10px;
}

.textField input {
  height: 6px;
  width: 90px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
